<%- include('partials/header')%>
<main class="show">
<h1><%=game.title%></h1>
<img src="<%=game.image%>" alt="<%=game.title%>">
<h2>Released: <%=game.released%></h2>
<h3>Ratings : <%=game.rating%></h3>
<p>comment: <%=game.body%></p>
<h4>created: <%=game.created%></h4>
<a href="/games/<%=game._id%>/edit">Edit</a>
<a href="/ga,es/<%=games._id%>/delete">Delete</a>
</main>
<%- include('partials/footer')%>